:root {
  --body-color: #161616; /* общий фон */

  --title-color: #ffffff; /* цвет заголовков */
  --subtitle-color: #B4BBC5;/* цвет подзаголовков */

  --nav-link-color: #ffffff; /* цвет ссылок в навигации */
}


/* dark button */
.dark {
  --button-bg-color: #FF385C;
  --button-text-color: #2D2D2D;
}


/* forms */
input[type='text'],
input[type='email'],
textarea {
  --input-bg-color: #F6F6F6;
  --input-border-color: #D2D2D2;
}