/* табы на странице help */
.tabs-list {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  border-bottom: 2px solid #dddddd;
  position: relative;
}

.tabs-btn {
  font-size: 15px;
  font-weight: 600;
  color: #717171;
  background-color: transparent;
  border: 2px solid transparent;
  padding: 10px;
  margin: 6px 6px 6px 0;
  cursor: pointer;
  outline: none;
  position: relative;
}

.line {
  position: absolute;
  top: 52.4px;
  width: 0%;
  height: 2px;
  background-color: #222222;
  transition: width 0.3s ease-in-out;
  left: 0;
}

.tabs-btn:hover {
  background-color: #f7f7f7;
  border-radius: 8px;
}

.tabs_btn--active {
  color: #222222;
}

.line--active {
  left: 0;
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}