@import "../css/fonts.css";
@import "../css/normalize.css";
@import "../lib/swiper.css";
@import "./shop.css";
@import "../css/forms.css";
@import "../css/tabs.css";

body {
  font-family: "Poppins", Tahoma, Arial, sans-serif;
  color: #18191F;
  position: relative;
  min-height: 100vh; /* 100% от просматриваемой области */
  background-color: var(--body-color);
}

.container {
  max-width: 1328px;
  width: 100%;
  margin: 0 auto;
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

/* header */
.header {
  background-color: var(--body-color);
  padding: 16px 0;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  min-height: 68px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 2;
}

.header-logo {
  display: inline-block;
  vertical-align: middle;
}

.header-nav {
  display: inline-block;
  vertical-align: middle;
  margin-left: 376px;
}


.nav-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--nav-link-color);
  position: relative;
}

.nav-link::after {
  display: none;
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--nav-link-color);
  position: absolute;
  left: 0;
  bottom: -8px;
}

.nav-link:hover.nav-link::after {
  display: inline-block;
}

.active {
  color: var(--accent-color);
}

.active::after {
  display: inline-block;
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--accent-color);
  position: absolute;
  left: 0;
  bottom: -8px;
}

.language {
  position: relative;
  padding: 0;
  border-radius: 50%;
  background: transparent;
  padding: 12px;
  box-sizing: border-box;
  border: 0;
  cursor: pointer;
  vertical-align: middle;
  margin-left: 200px;
}

.language svg circle,
.language svg ellipse,
.language svg line {
  stroke: var(--nav-link-color);
}

.language::before {
  bottom: 0;
  content: '';
  position: absolute;
  top: 0;
  z-index: -1;
  border-radius: 22px;
  left: -3px;
  right: -3px;
}

.language:hover::before {
  background-color: #F7F7F7;
}

.language svg {
  vertical-align: middle;
}

/* END header */

main {
  padding-top: 68px;
  padding-bottom: 68px;
}

.title {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  letter-spacing: -0.8px;
  color: var(--title-color);
  margin-bottom: 46px;
  position: relative;
}

.title::after {
  content: "";
  width: 100px;
  height: 2px;
  display: inline-block;
  background-color: var(--accent-color);
  position: absolute;
  left: 0;
  bottom: -10px;
}

/* modal */
.modal {
  border: 0;
  position: relative;
  padding: 40px 24px;
  box-sizing: border-box;
  border-radius: 8px;
  min-width: 1000px;
  max-width: 1000px;
  min-height: 600px;
  background-color: var(--body-color);
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.14), 0px 3px 14px rgba(0, 0, 0, 0.12), 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.modal .close-button {
  background-color: transparent;
  padding: 8px;
  border: 0;
  cursor: pointer;
  margin-bottom: 24px;
  position: relative;
}

.modal .close-button::before {
  bottom: 0;
  content: '';
  position: absolute;
  top: 0;
  z-index: -1;
  border-radius: 22px;
  left: -3px;
  right: -3px;
}

.modal .close-button:hover::before {
  background-color: #f7f7f7;
}

.modal .close-button svg path {
  stroke: var(--title-color);
}

.modal-title {
  margin-top: 16px;
  font-weight: 600;
  font-size: 23px;
  line-height: 32px;
  color: var(--title-color);
}

.modal-subtitle {
  margin-top: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--text-color);
  max-width: 384px;
  color: var(--subtitle-color);
}

/* card in modal tabs (currency and region) */
.modal-card {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid transparent;
  display: inline-block;
  width: 25%;
  margin-right: -4px;
  box-sizing: border-box;
  cursor: pointer;
  margin-bottom: 12px;
}

.modal-card:hover {
  background-color: rgb(247, 247, 247);
}

.modal-card h3 {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #222222;
}

.modal-card span {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: rgb(113, 113, 113);
}



/* main card */
.main-card {
  width: 240px;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 40px;
}

.main-card:hover {
  cursor: pointer;
}

.main-card .card-image {
  position: relative;
}

.main-card .card-image::after {
  content: '';
  opacity: 0;
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: black;
  transition-duration: 0s;
  transition-property: opacity;
  transition-timing-function: ease-out;
}

.main-card:hover .card-image::after {
  opacity: .10;
}

.main-card .card-image img {
  vertical-align: middle;
}

.main-card .card-wishlist {
  position: absolute;
  z-index: 2;
  bottom: 24px;
  padding: 0 15px;
  box-sizing: border-box;
}

.main-card .wishlist-rating {
  background: #FFFFFF;
  border-radius: 4px;
  padding: 4px 8px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 123px;
}

.main-card .rating-img {
  display: inline-block;
  vertical-align: middle;
}

.main-card .whishlist-heart {
  display: inline-block;
  vertical-align: middle;
  fill: rgba(0, 0, 0, 0.5);
  height: 24px;
  width: 24px;
  stroke: #FFFFFF;
  stroke-width: 2;
}

.main-card .heart-active {
  fill: var(--accent-color);
}

.main-card .card-title {
  font-family: "Poppins-Semibolt", sans-serif;
  font-weight: 600px;
  margin-top: 16px;
  text-transform: none;
  color: #2D2D2D;
}

.main-card .card-subtitle {
  font-family: "Poppins-Regular", Tahoma, Verdana, sans-serif;
  font-weight: 400px;
  margin-top: 4px;
  text-transform: capitalize;
  color: #737373;
}

.main-card .price-prev {
  text-decoration: line-through;
  color: #737373;
  font-family: "Poppins-SemiBold", sans-serif;
  font-weight: 600px;
  margin-top: 16px;
  margin-right: 8px;
  display: inline-block;
}

.main-card .price-current {
  font-family: "Poppins-SemiBold", sans-serif;
  font-weight: 600px;
  margin-top: 16px;
  color: var(--accent-color);
  display: inline-block;
}

.main-card .card-button {
  font-family: "Poppins-SemiBolt", sans-serif;
  font-weight: 500;
  margin-top: 24px;
  padding: 8px 80px;
  color: #FFFFFF;
  border-radius: 8px;
  background: #2D2D2D;
  white-space: nowrap;
  border: 1px solid #2d2d2d;
  cursor: pointer;
}

.main-card .card-button:hover {
  background-color: transparent;
  border-color: #2D2D2D;
  color: #2D2D2D;
}

.main-card .card-button:focus {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


/* main slider */

.slider {
  padding-top: 24px;
  padding-bottom: 84px;
}

.swiper-scrollbar-drag {
  --swiper-scrollbar-drag-bg-color: var(--title-color);
}

/* main card */
.main-card {
  width: 240px;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 40px;
}

.main-card:hover {
  cursor: pointer;
}

.main-card .card-image {
  position: relative;
}

.main-card .card-image::after {
  content: '';
  opacity: 0;
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: black;
  transition-duration: 0s;
  transition-property: opacity;
  transition-timing-function: ease-out;
}

.main-card:hover .card-image::after {
  opacity: .10;
}

.main-card .card-image img {
  vertical-align: middle;
}

.main-card .card-wishlist {
  position: absolute;
  z-index: 2;
  bottom: 24px;
  padding: 0 15px;
  box-sizing: border-box;
}

.main-card .wishlist-rating {
  background: #FFFFFF;
  border-radius: 4px;
  padding: 4px 8px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 123px;
}

.main-card .rating-img {
  display: inline-block;
  vertical-align: middle;
}

.main-card .whishlist-heart {
  display: inline-block;
  vertical-align: middle;
  fill: rgba(0, 0, 0, 0.5);
  height: 24px;
  width: 24px;
  stroke: #FFFFFF;
  stroke-width: 2;
}

.main-card .heart-active {
  fill: var(--accent-color);
}

.main-card .card-title {
  font-family: "Poppins-Semibolt", sans-serif;
  font-weight: 600px;
  margin-top: 16px;
  text-transform: none;
  color: var(--title-color);
}

.main-card .card-subtitle {
  font-family: "Poppins-Regular", Tahoma, Verdana, sans-serif;
  font-weight: 400px;
  margin-top: 4px;
  text-transform: capitalize;
  color: var(--subtitle-color);
}

.main-card .price-prev {
  text-decoration: line-through;
  color: var(--subtitle-color);
  font-family: "Poppins-SemiBold", sans-serif;
  font-weight: 600px;
  margin-top: 16px;
  margin-right: 8px;
  display: inline-block;
}

.main-card .price-current {
  font-family: "Poppins-SemiBold", sans-serif;
  font-weight: 600;
  margin-top: 16px;
  color: var(--accent-color);
  display: inline-block;
}

/* footer */

.footer {
  padding: 22px 0;
  background-color: var(--body-color);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.footer-rights {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--title-color);
  display: inline-block;
  vertical-align: middle;
}

.footer-nav {
  display: inline-block;
  vertical-align: middle;
  margin-left: 445px;
}







/* атомарные классы */
.mt-24px {
  margin-top: 24px;
}

.mb-24px {
  margin-bottom: 24px;
}

.ml-36px {
  margin-left: 36px;
}